body{
	font-family: "SegoeUI SemiBold", Times, serif;
}
div {
    width:500px;
    height:800px;
    padding:0;
    text-align:center;
    margin:0 auto;
    background-position:top;
    background-repeat:no-repeat;
    background-size: contain; 
}
table{
	margin:10px ;
	text-align:center;
	padding:10px;
	width:480px;
	
	
}
input[type="submit"] {
  background-color: #6358C2; /* colore di sfondo    */
  color: #fff;               /* colore del testo    */
  font-size:1.2em;
  font-weight: bold;         /* testo in grassetto  */
  padding: 0;                /* padding             */
  width:80px;
  height:40px;
}
input[type="submit"]:hover{
	background-color: #F3AC25;
}
input[type="button"] {
  /*background-color: #6358C2; /* colore di sfondo    */
  color: #fff;               /* colore del testo    */
  font-size:1.0em;
  font-weight: bold;         /* testo in grassetto  */
  padding: 0;                /* padding             */
  width:80px;
  height:40px;
}
input[type="button"]:hover{
	background-color: #F3AC25;
}

#temp0{
	font-size:8em;
	border:0;
	position:relative;
	top:7px;
	left:-35px;
	color:rgba(229,116,46,1);
	background-color:rgba(1,1,1,0);	
}
#temp1{
	font-size:2.5em;
	border:0;
	position:relative;
	top:-25px;
	left: 25px;
	color:rgba(148,148,148,1);
	background-color:rgba(1,1,1,0);	
}
#temp2{
	font-size:4em;
	border:0;
	position:relative;
	top:14px;
	right:35px;
	color:rgba(21,199,238,1);
	background-color:rgba(1,1,1,0);	
}

#temp3{
	font-size:2em;
	border:0;
	position:relative;
	bottom:-60px;
	right:20px;
	color:rgba(128,128,128,1);
	background-color:rgba(1,1,1,0);	
}
#oggi{
	font-size:2em;
	color:blue;
	position:relative;
	bottom:20px;
	left:20px;
}
#intesta{
	height:20px;
	font-size:3em;
	color:blue;
}	
	
