/fazioa/onUse/Souliss_A7_home_dynamic_mode/SONOFF_GEEKCREIT_0xAB18-soggiorno-porta-cancello/SONOFF_GEEKCREIT_0xAB18-soggiorno-porta-cancello/credenziali.h
/fazioa/onUse/Souliss_A7_home_dynamic_mode/SONOFF_0xAB15-interruttoreLuceDivano/credenziali.h
/fazioa/onUse/Souliss_A7_home_dynamic_mode/SONOFF_0xAB16-interruttoreLuceCucina/credenziali.h
/fazioa/onUse/Souliss_A7_home_dynamic_mode/Souliss_A7_ESP_AlberoNatale/credenziali.h
