body {
    font-size: 14pt;
    font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif;
}
#body {
    clear: both;
    margin: 0 auto;
    max-width: 1000px;
}
table {
    border-collapse: collapse;
    border-spacing: 1px;
    margin-top: 1em;
    border: double #666666;
    margin-top:5px;
    padding: 10px 1px 10px 1px;
    background-color:#FFFFFF;
}
body td {
    padding:2px 1px 5px 1px;
}
input[type="submit"]{
  background-color: #6358C2; /* colore di sfondo    */
  color: #fff;               /* colore del testo    */
  font-weight: bold;         /* testo in grassetto  */
  padding: 0;                /* padding             */
  height: 30px;              /* altezza             */
  width: 80px;               /* larghezza           */
}
input[type="submit"]:hover{
	background-color: #F3AC25;
}	
caption {
  font-size:20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  background-color:#F3AC25;
  
}

img{
    height: 100%;
    width: 100%; 
}

td:nth-child(2n+0) {
    padding-right: 10px;
}​